* {
  padding: 0;
  margin: 0;
}
#clock {
  width: 400px;
  height: 400px;
  background-image: url(clock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#clock #hour {
  position: absolute;
  width: 5%;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -2.5%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-image: url('hour.png');
}
#clock #minute {
  position: absolute;
  width: 5%;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -2.5%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-image: url('minute.png');
}
#clock #second {
  position: absolute;
  width: 5%;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -2.5%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-image: url('second.png');
}
