#toolbar {
	display:flex;
	justify-content:space-between;
	border-bottom:1px solid #e4e4e4;
	box-shadow:0 1px 5px rgba(0,0,0,.1)
}
#toolbar a {
	display:flex;
	align-items:center;
	text-decoration:none
}
#toolbar .icon {
	height:34px;
	padding:16px 12px 16px 24px;
	display:inline-block
}
#toolbar h1 {
	color:#4fc08d;
	display:inline-block;
	font-size:28px;
	margin:0
}
#toolbar ul {
	display:flex;
	align-items:center;
	list-style:none;
	padding:0 24px 0 0;
	margin:0
}
@media (max-width:373px) {
	#toolbar ul {
	padding-right:12px
}
}#toolbar ul li {
	padding:10px 10px 0
}
#toolbar ul li a {
	text-decoration:none;
	line-height:1;
	color:inherit;
	font-size:13px;
	padding-bottom:8px;
	letter-spacing:.5px;
	cursor:pointer
}
#toolbar ul li a:hover {
	border-bottom:2px solid #484848;
	padding-bottom:6px
}
#footer {
	margin-bottom:3em
}
#footer .icon {
	height:23px;
	display:inline-block;
	margin-bottom:-6px
}
.hr {
	border-bottom:1px solid #dbdbdb;
	margin:3em 0
}
#footer p {
	font-size:15px;
	color:#767676!important;
	display:flex
}
#footer p img {
	padding-right:6px
}
.slide {
	transition:transform .3s
}
.slide-enter {
	transform:translateY(0)
}
.slide-leave {
	transform:translateY(calc(100% - 33px))
}
#project-info {
	z-index:1;
	font-family:Lucida Sans Unicode,Lucida Grande,sans-serif;
	font-size:13px;
	bottom:0;
	right:20px;
	width:350px;
	position:fixed;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-end
}
@media screen and (max-width:400px) {
	#project-info {
	right:0;
	width:100%;
	font-size:16px
}
}#project-info #info {
	-webkit-text-size-adjust:100%;
	color:#000;
	border:1px solid #cc8400;
	border-bottom:none;
	border-top-left-radius:5px;
	background-color:oldlace;
	padding:.25rem 1rem 1rem
}
@media screen and (max-width:400px) {
	#project-info #info {
	border:none;
	border-radius:0;
	border-top:1px solid #cc8400
}
}#project-info #info p {
	margin:.75rem 0
}
#project-info #info a {
	color:orange
}
#project-info #info form .inputs {
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap
}
#project-info #info form .inputs input {
	height:30px;
	font-size:13px;
	box-sizing:border-box;
	border:1px solid #000;
	border-radius:0;
	-webkit-appearance:none;
	margin:0
}
@media screen and (max-width:400px) {
	#project-info #info form .inputs input {
	height:40px
}
}#project-info #info form .inputs input[type=email] {
	flex-grow:1;
	padding:.5rem;
	border-right:0;
	font-size:16px
}
#project-info #info form .inputs input[type=email]:active,#project-info #info form .inputs input[type=email]:focus {
	outline:none
}
#project-info #info form .inputs input[type=submit] {
	flex-basis:100px;
	padding:0;
	background-color:#dcdcdc
}
#project-info #info form .inputs input[type=submit]:active,#project-info #info form .inputs input[type=submit]:focus {
	outline:none
}
@media screen and (max-width:400px) {
	#project-info #info form .inputs input[type=submit] {
	flex-basis:120px;
	font-size:16px
}
}#project-info #tab {
	color:#fff;
	font-weight:700;
	background-color:orange;
	padding:.5rem 2rem .75rem .75rem;
	height:11px;
	position:relative;
	cursor:pointer;
	user-select:none;
	border:1px solid #cc8400;
	border-bottom:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px
}
@media screen and (max-width:400px) {
	#project-info #tab {
	font-size:13px
}
}#project-info #tab svg {
	position:absolute;
	right:12px;
	top:12px;
	fill:#fff
}
.listing-summary-group {
	padding-bottom:20px
}
.listing-summaries-wrapper {
	overflow:hidden
}
.listing-carousel {
	position:relative
}
.listing-carousel .controls {
	display:flex;
	justify-content:space-between;
	position:absolute;
	top:calc(50% - 45px);
	left:-45px;
	width:calc(100% + 90px)
}
.listing-carousel .controls .carousel-control {
	color:#c5c5c5;
	font-size:1.5rem;
	cursor:pointer
}
.listing-summaries {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	transition:transform .5s
}
.listing-summaries>.listing-summary {
	margin-right:15px
}
.listing-summaries>.listing-summary:last-child {
	margin-right:0
}
.listing-summary {
	flex:0 0 auto;
	position:relative
}
.listing-summary a {
	text-decoration:none
}
.listing-summary .wrapper {
	max-width:350px;
	display:block
}
.listing-summary .thumbnail {
	width:350px;
	height:250px;
	background-size:cover;
	background-position:50%
}
.listing-summary .info {
	color:#484848;
	word-wrap:break-word;
	letter-spacing:.2px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.listing-summary .info.title {
	padding-top:5px;
	font-weight:700;
	font-size:16px;
	line-height:24px
}
.listing-summary .info.address {
	font-size:14px;
	line-height:18px
}
@media (max-width:400px) {
	.listing-summary .listing-save {
	left:15px;
	right:auto
}
}.listing-save {
	position:absolute;
	top:15px;
	right:15px;
	cursor:pointer
}
.listing-save .fa-heart-o {
	color:#fff
}
.listing-save .fa-heart {
	color:#ff5a5f
}
.listing-save i {
	padding-right:4px
}
.listing-save button .fa-heart-o {
	color:grey
}
.carousel-control {
	padding:1rem;
	color:#fff;
	opacity:.85
}
@media (min-width:744px) {
	.carousel-control {
	font-size:3rem
}
}.heading {
	margin-bottom:2em
}
.heading h1 {
	font-size:32px;
	font-weight:700
}
.heading p {
	font-size:15px;
	color:#767676
}
.about {
	margin:2em 0
}
.about h3 {
	font-size:22px
}
.image-carousel {
	height:100%;
	margin-top:-12vh;
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center
}
.image-carousel img {
	width:100%
}
.image-carousel .controls {
	position:absolute;
	width:100%;
	display:flex;
	justify-content:space-between;
	top:calc(50% - 40px);
	left:0
}
#modal {
	display:none;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:2000;
	background-color:rgba(0,0,0,.85)
}
#modal.show {
	display:block
}
body.modal-open {
	overflow:hidden;
	position:fixed
}
.modal-close {
	cursor:pointer;
	position:absolute;
	right:0;
	top:0;
	padding:0 28px 8px;
	font-size:4em;
	width:auto;
	height:auto;
	background:transparent;
	border:0;
	outline:none;
	color:#fff;
	z-index:1000;
	font-weight:100;
	line-height:1
}
.modal-content {
	height:100%;
	max-width:105vh;
	padding-top:12vh;
	margin:0 auto;
	position:relative
}
hr {
	border:0;
	border-top:1px solid #dce0e0
}
.list {
	display:flex;
	flex-wrap:nowrap;
	margin:2em 0
}
.list .title {
	flex:1 1 25%
}
.list .content {
	flex:1 1 75%;
	display:flex;
	flex-wrap:wrap
}
.list .list-item {
	flex:0 0 50%;
	margin-bottom:16px
}
.list .list-item>i {
	width:35px
}
@media (max-width:743px) {
	.list .title {
	flex:1 1 33%
}
.list .content {
	flex:1 1 67%
}
.list .list-item {
	flex:0 0 100%
}
}.header {
	height:320px
}
.header .header-img {
	background-repeat:no-repeat;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:50% 50%;
	background-color:#f5f5f5;
	height:100%;
	cursor:pointer;
	position:relative
}
.header .header-img .view-photos {
	position:absolute;
	bottom:20px;
	left:20px
}
p {
	white-space:pre-wrap
}
.contracted {
	height:250px;
	overflow:hidden
}
button.more {
	background:transparent;
	border:0;
	color:#008489;
	padding:0;
	font-size:17px
}
.about button.more:active,.about button.more:focus,button.more:hover {
	text-decoration:underline;
	outline:none
}
#saved .listing-summaries {
	display:flex;
	flex-wrap:wrap;
	justify-content:left;
	overflow:hidden
}
#saved .listing-summaries .listing-summary {
	padding-bottom:30px
}
.listing-summaries>.listing-summary {
	margin-right:15px
}
#login form {
	padding-top:40px
}
@media (min-width:744px) {
	#login form {
	padding-top:80px
}
}#login .form-control {
	margin-bottom:1em
}
#login input[type=text],#login input[type=submit],#login input[type=email],#login input[type=password],#login label {
	width:100%;
	font-size:19px!important;
	line-height:24px;
	color:#484848;
	font-weight:300;
	-webkit-appearance:none
}
#login input {
	background-color:transparent;
	padding:11px;
	border:1px solid #dbdbdb;
	border-radius:2px;
	box-sizing:border-box
}
#login input[type=submit] {
	background-color:#4fc08d;
	color:#fff;
	cursor:pointer;
	border:#4fc08d;
	border-radius:4px;
	padding-top:12px;
	padding-bottom:12px
}
#login .change-form {
	text-align:center
}
#login .change-form a {
	color:#4fc08d;
	cursor:pointer
}
#login ul.errors {
	margin:0;
	padding:0
}
#login ul.errors li {
	font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif!important;
	font-size:15px!important;
	line-height:24px!important;
	color:#d93900!important;
	list-style:none
}

.login-container {
	width: 350px;
    margin: 0 auto;
    padding: 0 12px;
}

.login-box-msg,
.register-box-msg {
  color : green;
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
