<form action="/search/" class="form1" method="GET">
  <div class="row">
    <!-- 按城市查询 -->
    <div class="col-sm-4 col-md-2">
      <div class="select1_wrapper">
        <label>按城市查询:</label>
        <div class="select1_inner">
          <select name="area_id" class="select2 select" style="width: 100%">
            {% for v in area %}
              <option value="{{ v.id }}" {% if v.id== area_id %} selected {% endif %} >{{v.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <!-- 按星级查询 -->
    <div class="col-sm-4 col-md-2">
      <div class="select1_wrapper">
        <label>按星级查询:</label>
        <div class="select1_inner">
          <select name="star" class="select2 select" style="width: 100%">
                {% for i in  range(1,6) %}
                  <option value="{{i}}"
                    {% if i == star %} selected {% endif %}
                  >{{i}} 星</option>
                {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="button1_wrapper">
        <button type="submit" class="btn-default btn-form1-submit">Search</button>
      </div>
    </div>
  </div>
</form>