<div id="slider_wrapper">
  <div class="container">
    <div id="slider_inner">
      <div class="">
        <div id="slider">
          <div class="">
            <div class="carousel-box">
              <div class="inner">
                <div class="carousel main">
                  <ul>
                    <li>
                      <div class="slider">
                        <div class="slider_inner">
                          <div class="txt1"><span>欢迎来到</span></div>
                          <div class="txt2"><span>e起去旅行</span></div>
                          <div class="txt3"><span>e起去旅行为您提供最全的景区介绍、最优的旅游路线、最后的旅游服务.</span></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="slider">
                        <div class="slider_inner">
                          <div class="txt1"><span>范围覆盖</span></div>
                          <div class="txt2"><span>全国景区</span></div>
                          <div class="txt3"><span>从海南到东北，伴你走过东南西北.</span></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="slider">
                        <div class="slider_inner">
                          <div class="txt1"><span>海量数据</span></div>
                          <div class="txt2"><span>精彩游记</span></div>
                          <div class="txt3"><span>分享最实用的旅游攻略，结交爱旅游的朋友</span></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="slider_pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>