* {
  padding: 0;
  margin: 0;
}
#wrap {
  overflow: hidden;
}
#wrap .item {
  width: 248px;
  height: 360px;
  font-size: 13px;
}
#wrap .item .title {
  width: 248px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin-bottom: 10px;
}
#wrap .item .price {
  color: #ff6700;
  font-size: 18px;
  font-weight: bold;
}
.imgContainer {
  width: 248px;
  display: table-cell;
  text-align: center;
}
