@import "./variable";

@mixin overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin focus {
  &:focus {
    outline: 2px auto rgba($primary-color, .6);
    outline-offset: 2px;
  }
}

@mixin disabled() {
  color: $grey-6 !important;
  outline: none !important;
  background-color: inherit !important;
  cursor: not-allowed !important;
}
