@import "../../assets/variable";
@import "../../assets/mixin";

.#{$prefix}-date-picker {
  display: flex;
  &-caption {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .#{$prefix}-icon {
      cursor: pointer;
    }
    &-body {
      flex: 1;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
  }
  &-week {
    display: flex;
    &-cell {
      flex: 1;
      padding: 7px;
      text-align: center;
    }
  }
  &-day {
    display: flex;
    &-cell {
      flex: 1;
      padding: 8px;
      text-align: center;
      cursor: pointer;
    }
    &-today {
      color: $primary-color;
    }
    &-outside {
      color: $grey-6;
      cursor: default;
    }
    &-selected {
      color: $white;
      background: $primary-color;
      border-radius: 100%;
    }
    &-disabled {
      @include disabled();
      pointer-events: none;
    }
  }
}
