# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\编程\Java EE\Item 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
