<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="first">
        + 
        <input type="text" v-model="last">
        = {{ result }}
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
               first: 1,
               last: 2,
            },
            // 计算属性,可以访问this
            computed: {
                // 声明result属性,函数需要有返回值，然后可以result可以和data在模板中渲染。
                result(){
                    // 会监听函数内部this属性的变化,
                    // 一旦其中一个值发生了变化，函数会重新返回新的值
                    return Number(this.first) + Number(this.last);
                }
            }
        })
    </script>
</body>
</html>