.card {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &-header {
    font-size: 18px;
    padding: 16px 16px 0;
  }
  &-section-header {
    padding-bottom: 8px;
  }
  &-section {
    padding: 16px;
  }
  &-section + &-section {
    border-top: 1px solid #ebeef0;
  }
}
