<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>startVue</title>
</head>
<body>
    <div id="app">
    
        <div>
            FirstName<input type="text" v-model="firstName" placeholder="Please input">
            LastName<input type="text" v-model="lastName" placeholder="Please input">
            <br>
            FullNameComputed<input type="text" v-model="fullName1">
            <br>
            FullName2Watch<input type="text" v-model="fullName2">
            <br>
            FullNameSet<input type="text" v-model="fullName3">
        </div>

    </div>
</body>

<script text="javascript" src="./vue.js"></script>
<script text="javascript">
    const app = new Vue({
        el: "#app",

        data:{
            firstName: '',
            lastName: '',
            fullName2: '',
        },
        
        // computed当做属性来使用,里面的属性名一般不用写到data中，属性值是一个方法
        computed: {
            fullName1: function() {
                // this就是指app这个Vue的实例对象
                return this.firstName + " " + this.lastName;
            },

            fullName3: {
                // 接受
                get() {
                    return this.firstName + " " + this.lastName;
                },
                // 更新数据时输出
                set(newValue) {
                    var names = newValue.split(' ')
                    this.firstName = names[0]
                    this.lastName = names[names.length - 1]
                }
            }
        },

        //watch是一个对象,对象里的属性最好写到data中
        watch: {
            firstName: function(value) {
                this.fullName2 = value + " " + this.lastName;
            },
            lastName: function(value) {
                this.fullName2 = this.firstName + " " + value;
            }
        }
    });
</script>
</html>